* {
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden; 
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    
}
.floor {
    display: flex;
    width: 500px;
    height: 600px;
    scale: 1.3;
    background-color: green;
    transform: rotateX(60deg);
    box-shadow: 0px 50px 20px 0px rgb(77, 77, 77);

}

.playerconf {
    display: flex;
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: blueviolet;
    top: 100px;
    left: 100px;
    
}
.shadow {
    box-shadow: 0px 15px 8px 0px rgb(36, 35, 35);
}

#canvas {
    position: absolute;
    display: flex;
    
}
header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
}

#myProgress {
    display: flex;
    width: 300px;
    background-color: #ddd;
  }
  
  #myBar {
    width: 300px;
    height: 30px;
    background-color: #dd9b21;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  .dish {
    position: absolute;
    display: flex;
    top: 500px;
    width: 100px;
    height: 100px;
    scale: 1;
    background-color: beige;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 50px 20px 0px rgb(77, 77, 77);

  }
  
  .food {
    position: absolute;
    display: flex;

    width: 50px;
    height: 50px;
    
    background: no-repeat url('./source/image/cookie.png');
    background-size: 100%;
    

  }
  .foodinfloor {
    position: absolute;
    display: flex;

    width: 10px;
    height: 10px;
    
    background: no-repeat url('./source/image/cookie.png');
    background-size: 100%;


  }
  .spawnfood {
    position: absolute;
    display: flex;
   
    border: 1px solid red;
    
    width: 500px;
    height: 300px;
    scale: 1.3;

  }



