:root {
    --widthfloor: 400px;
    --heightfloor: 600px;

}

* {
    padding: 0;
    margin: 0;
 
    
}
main {
    display: flex;
    justify-content: center;
}
.sec-floor-box {
    display: flex;
    
    
}
#floor-3d,
.floor-background  {
    display: flex;
    width: var(--widthfloor);
    height: var(--heightfloor);
    background-color: rgb(121, 209, 32);
    scale: 1.5;
    transform: rotateX(60deg);
    box-shadow: 0px 20px 10px #555;
  
}
.shadow-world{
    box-shadow:  0px 9px 10px 0px rgb(88, 155, 21) ;
}

.player-config {
    transform-style: preserve-3d;
    display: flex;
    position: absolute;
    left: 10%;
    top:  1%;
    width: 10px;
    height: 80px;
    transform: rotateX(70deg);
    background-color: blueviolet;

}

